<footer>
    <div class="container-fluid">
        <div class="row">
          	<div  class="hidden-xs col-sm-4 col-md-2 col-lg-2">
        			<nav>
        			  <a href="/" title="homepage" class="logo-container">
                  <span class="footer-logo-circle">
                      <img alt="PCU logo" class="footer-logo-circle-img" src="/assets/images/logo-no-bg.png" />
                  </span>
        			  </a>
        			</nav>
            </div>
          	<div class="hidden-xs col-sm-4 col-md-2 col-lg-2">
        			<nav>
        			  <h6>PCU</h6>
        			  <ul class="list-unstyled">
                  {% for my_page in site.nav %}
                    <li>
                        <a href="{{ my_page.url }}">{{ my_page.title }}</a>
                    </li>
                  {% endfor %}
        			  </ul>
        			</nav>
          	</div>
            <div class="hidden-xs col-sm-4 col-md-2 col-lg-2">
              <nav>
                <h6>Use Cases</h6>
                <ul class="list-unstyled">
                  <li><a href="#">Enterprise Search</a></li>
                  <li><a href="#">E-commerce</a></li>
                  <li><a href="#">Customer Insights</a></li>
                </ul>
              </nav>
            </div>
            <div class="hidden-xs col-sm-4 col-md-2 col-lg-2">
              <nav>
                <h6>About</h6>
                <ul class="list-unstyled">
                  {% for my_page in site.aboutNav %}
                    <li>
                        <a href="{{ my_page.url }}">{{ my_page.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </nav>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
      			  <nav id="socialNav">
      				<h6 class="title">Follow Us</h6>
      				<a alt="Github" href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      				<a alt="Twitter" href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter fa-2x"></i</a>
              <a alt="Facebook" href="https://facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
              <a alt="Linkedin" href="https://www.linkedin.com/company/{{ site.linkedin_username }}" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
              <a alt="Slideshare" href="https://www.slideshare.net/{{ site.slideshare_username }}" target="_blank"><i class="fa fa-slideshare fa-2x"></i></a>
              <p>&copy; 2017 PCU Consortium</p>
              </nav>
      		  </div>
        </div>
    </div>
</footer>
