//vars
$pcu-color: #FFF;
$pcu-color-0: #DDD;
$pcu-color-1: #00517c;
$pcu-color-2: #8bc34a;

//imports
@import "pcu/general";
@import "pcu/home";
@import "pcu/overview";
@import "pcu/use-cases";
@import "pcu/news";
@import "pcu/page";
