article.news {
  background-color: #FFF;
  padding: 20px;
  border-bottom: 1px solid $pcu-color-2;

  header {
    margin-bottom: 20px;

    .date {
      color: $pcu-color-2;
    }
  }
}

.pagination {
  color: $pcu-color-2;
  text-align: center;
}
