---
layout: default
---
<!-- presentation Section -->
<section id="home-section-overview" class="one-page">
  <div class="overlay">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center pcu-margin-bottom">
                  <img alt="PCU logo" class="main-logo-circle-img" src="/assets/images/logo-no-bg.png" />
            </div>
            <div class="col-lg-12 text-center pcu-margin-bottom">
                <h1>Unified Knowledge Platform</h1>
                <h4>Open Source Search framework for everyone.</h4>
            </div>
            <div class="col-lg-12 text-center pcu-margin-bottom">
                <p>--</p>
            </div>
        </div>
      </div>
    </div>
</section>

<!-- Use Cases Section -->
<section id="home-section-use-cases" class="one-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center pcu-margin-bottom">
                <h1>Use Cases</h1>
                <h4 class="text-muted">One search framework to rule them all.</h4>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="default-circle-point">
                    <img alt="Enterprise Search" src="/assets/images/organization-128.png" />
                </span>
                <h4 class="service-heading">Enterprise Search</h4>
                <p class="text-muted">Centralise your search across your enterprise securely.</p>
            </div>
            <div class="col-md-4">
                <span class="default-circle-point">
                    <img alt="E-Commerce" src="/assets/images/shopping-cart-filled-128.png" />
                </span>
                <h4 class="service-heading">E-Commerce</h4>
                <p class="text-muted">Optimize search on your product catalog.</p>
            </div>
            <div class="col-md-4">
                <span class="default-circle-point">
                    <img alt="Customer Insights" src="/assets/images/speedometer-128.png" />
                </span>
                <h4 class="service-heading">Customer Insights</h4>
                <p class="text-muted">Check your customer satisfaction.</p>
            </div>
        </div>
    </div>
</section>
<section id="home-section-partners" class="one-page">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12 text-center pcu-margin-bottom">
              <h1>Partners</h1>
              <h4 class="text-muted">United we stand, divided we fall.</h4>
          </div>
          <div class="col-lg-12 text-center pcu-margin-bottom">
              <a href="http://www.smile.eu" target="_blank"><img alt="Smile" src="/assets/images/partners/smile.png" /></a>
              <a href="http://lipn.univ-paris13.fr" target="_blank"><img alt="LIPN" src="/assets/images/partners/lipn.jpg" /></a>
              <a href="https://www.esilv.fr" target="_blank"><img alt="ESILV" src="/assets/images/partners/esilv.jpg" /></a>
              <a href="https://www.proxem.com" target="_blank"><img alt="Proxem" src="/assets/images/partners/proxem.svg" /></a>
              <a href="https://www.armadillo.fr" target="_blank"><img alt="Armadillo" src="/assets/images/partners/armadillo.png" /></a>
              <a href="http://www.wallix.fr" target="_blank"><img alt="Wallix" src="/assets/images/partners/wallix.png" /></a>
          </div>
          <div class="col-lg-12 text-center">
              <a href="http://www.bpifrance.fr" target="_blank"><img alt="BPI France" src="/assets/images/partners/bpi-france.png" />
              <a href="http://www.systematic-paris-region.org" target="_blank"><img alt="Systematic GTLL" src="/assets/images/partners/systematic.png" />
              <a href="https://www.iledefrance.fr" target="_blank"><img alt="Region Ile-de-France" src="/assets/images/partners/idf.png" />
          </div>
      </div>
  </div>
</section>
