---
layout: default
---
<section id="overview-section-agents" class="one-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center pcu-margin-bottom">
                <h1>Collector agents</h1>
                <h4 class="text-muted">Collect your data from everywhere.</h4>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="default-circle-point">
                    <i class="fa fa-window-maximize fa-5x" aria-hidden="true"></i>
                </span>
                <h4 class="service-heading">Applications</h4>
                <p class="text-muted">Nuxeo, Alfresco, OroCRM, etc.</p>
            </div>
            <div class="col-md-4">
                <span class="default-circle-point">
                    <i class="fa fa-globe fa-5x" aria-hidden="true"></i>
                </span>
                <h4 class="service-heading">Websites</h4>
                <p class="text-muted">Magento, Drupal, Typo3, Jahia, Liferay, etc.</p>
            </div>
            <div class="col-md-4">
                <span class="default-circle-point">
                    <i class="fa fa-comments fa-5x" aria-hidden="true"></i>
                </span>
                <h4 class="service-heading">Feeds</h4>
                <p class="text-muted">Twitter, Facebook, RSS, etc.</p>
            </div>
            <div class="col-md-4">
                <span class="default-circle-point">
                    <i class="fa fa-database fa-5x" aria-hidden="true"></i>
                </span>
                <h4 class="service-heading">Databases</h4>
                <p class="text-muted">MySQL, PostgreSQL, MongoDB, etc.</p>
            </div>
            <div class="col-md-4">
                <span class="default-circle-point">
                    <i class="fa fa-files-o fa-5x" aria-hidden="true"></i>
                </span>
                <h4 class="service-heading">Filesystems</h4>
                <p class="text-muted">File, FTP, SSH, Samba, etc.</p>
            </div>
            <div class="col-md-4">
                <span class="default-circle-point">
                    <i class="fa fa-exchange fa-5x" aria-hidden="true"></i>
                </span>
                <h4 class="service-heading">Push</h4>
                <p class="text-muted">REST API</p>
            </div>
        </div>
    </div>
</section>

<section id="overview-section-brain" class="one-page">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center pcu-margin-bottom">
            <h1>Brain</h1>
            <h4 class="text-muted">Give meaning to your data.</h4>
        </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
          <span class="default-circle-point">
              <i class="fa fa-file-text fa-5x" aria-hidden="true"></i>
          </span>
          <h4 class="service-heading">Semantic Analysis</h4>
          <p class="text-muted">Ontology, linked data, etc.</p>
      </div>
      <div class="col-md-6">
          <span class="default-circle-point">
              <i class="fa fa-external-link fa-5x" aria-hidden="true"></i>
          </span>
          <h4 class="service-heading">Data Minning</h4>
          <p class="text-muted">cluster, anomaly, association, etc.</p>
      </div>
      <div class="col-md-6">
          <span class="default-circle-point">
              <i class="fa fa-users fa-5x" aria-hidden="true"></i>
          </span>
          <h4 class="service-heading">Machine Learning</h4>
          <p class="text-muted">improve, suggest, predict, personnalize, etc.</p>
      </div>
      <div class="col-md-6">
          <span class="default-circle-point">
              <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
          </span>
          <h4 class="service-heading">Sentimental Analysis</h4>
          <p class="text-muted">NLP, interest, opinion, etc.</p>
      </div>
    </div>
  </div>
  </div>
</section>

<section id="overview-section-indexer" class="one-page">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center pcu-margin-bottom">
            <h1>Indexer</h1>
            <h4 class="text-muted">Index to your favorite search engine.</h4>
        </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <a alt="Elasticsearch" src="https://www.elasticsearch.com" target="_blank">
          <img alt="Elasticsearch" src="/assets/images/search-engines/elasticsearch.png" />
          <h4 class="service-heading">Elasticsearch</h4>
        </a>
      </div>
      <div class="col-md-4">
        <a alt="Apache Solr" src="http://lucene.apache.org/solr/" target="_blank">
          <img alt="Apache Solr" src="/assets/images/search-engines/solr.png" />
          <h4 class="service-heading">Apache Solr</h4>
        </a>
      </div>
      <div class="col-md-4">
        <a alt="Qwazr" src="https://www.qwazr.com/" target="_blank">
          <img alt="Qwazr" src="/assets/images/search-engines/qwazr.png" />
          <h4 class="service-heading">Qwazr</h4>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="overview-section-views" class="one-page">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center pcu-margin-bottom">
            <h1>Data views</h1>
            <h4 class="text-muted">Explore your data.</h4>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-6">
            <span class="default-circle-point">
                <i class="fa fa-search fa-5x" aria-hidden="true"></i>
            </span>
            <h4 class="service-heading">Search Tools</h4>
            <p class="text-muted">Unify search portal and toolbar.</p>
        </div>
        <div class="col-md-6">
            <span class="default-circle-point">
                <i class="fa fa-dot-circle-o fa-5x" aria-hidden="true"></i>
            </span>
            <h4 class="service-heading">360 views</h4>
            <p class="text-muted">Entity summary, links map, etc.</p>
        </div>
        <div class="col-md-12">
            <span class="default-circle-point">
                <i class="fa fa-gears fa-5x" aria-hidden="true"></i>
            </span>
            <h4 class="service-heading">API Query</h4>
            <p class="text-muted">REST quey pipeline, alerting</p>
        </div>
    </div>
  </div>
</section>

<section id="overview-section-" class="one-page">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center pcu-margin-bottom">
            <h1>Gatekeeper</h1>
            <h4 class="text-muted">Protect your knowledge.</h4>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-6">
            <span class="default-circle-point">
                <i class="fa fa-key fa-5x" aria-hidden="true"></i>
            </span>
            <h4 class="service-heading">Authentication</h4>
            <p class="text-muted">LDAP, AD, SSO, etc.</p>
        </div>
        <div class="col-md-6">
            <span class="default-circle-point">
                <i class="fa fa-user-secret fa-5x" aria-hidden="true"></i>
            </span>
            <h4 class="service-heading">Access Restriction</h4>
            <p class="text-muted">Queries, Documents, etc.</p>
        </div>
    </div>
  </div>
</section>

<section id="overview-section-control" class="one-page">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center pcu-margin-bottom">
            <h1>Control Tower</h1>
            <h4 class="text-muted">Manage you knowledge.</h4>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-6">
            <span class="default-circle-point">
                <i class="fa fa-gear fa-5x" aria-hidden="true"></i>
            </span>
            <h4 class="service-heading">Manage</h4>
            <p class="text-muted">API REST, backoffice, etc.</p>
        </div>
        <div class="col-md-6">
            <span class="default-circle-point">
                <i class="fa fa-area-chart fa-5x" aria-hidden="true"></i>
            </span>
            <h4 class="service-heading">Monitor</h4>
            <p class="text-muted">Dashboard, logs, etc.</p>
        </div>
    </div>
  </div>
</section>
