---
layout: default
---
{% assign col = site.collections | where:'label', page.collectionName | first %}
<section id="page-{{ page.title|slugify }}" class="section-pages-collections">
  <div class="container-fluid no-padding">
    <div class="row">
      <div class="col-lg-12 text-center page-header">
          <h1>{{ page.title }}</h1>
          <h4>{{ page.subtitle }}</h4>
      </div>
      <div id="subNav" class="col-lg-12 text-center">
        <nav>
          <ul class="list-unstyled sub-nav">
            {% for subpage in col.docs %}
              <li>
                  <a href="#{{ page.title|slugify }}-article-{{ subpage.title|slugify }}">{{ subpage.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
      <div class="col-lg-12">
        <div class="container">
          {% for subpage in col.docs %}
          <div class="row">
            <div class="col-lg-12">
              <article id="{{ page.title|slugify }}-article-{{ subpage.title|slugify }}" class="{{ page.title|slugify }}-article">
                <header>
                  <h2 itemprop="name headline">{{ subpage.title }}</h1>
                </header>
                <main class="text-justify" itemprop="articleBody">
                  <div class="excerpt">
                    <p>{{ subpage.excerpt }}</p>
                  </div>
                  <div class="section">
                    {{ subpage.content }}
                  </div>
                </main>
              </article>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
